{% extends 'baseC.html' %}

{% block title %}MedBot | About{% endblock %}


{% block content %}
<p><b>This is a Medicine delivery web application where you can save your cart, order in a very minimal and super fast way with no extra details. We believe in speed and in medicine delivery fastest way matters.<i> So, we provide optimized route for the delivery man to deliver the orders in the least time possible. As the application hanldles main works we call it MedBot.</i> Thanks for being here, May peace be upon you.<b></p>
{% endblock %}