{% extends 'baseA.html' %}

{% block title %}MedBot | Admin{% endblock %}


{% block content %}

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Total medicine: {{ med }}</h1>
	    <p class="lead">This is the number of total medicine currently available in the Inventory.</p>
	  </div>
	</div>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Total Customer: {{ cus }}</h1>
	    <p class="lead">This is the number of total Customer currently memeber in the System.</p>
	  </div>
	</div>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Total Pharmacy: {{ pharm }}</h1>
	    <p class="lead">This is the number of total Pharmacy or Employee currently working with MedBot.</p>
	  </div>
	</div>

	<!-- {% if all %}
	<table class="table table-dark">
		{% for things in all %}
			<tr>
				<td>{{ things.med_name }}</td>
				<td><center>{{ things.med_generic }}</center></td>
				<td><center>{{ things.med_price }}</td>
				<td><center>
		{% endfor %}
	</table>
	{% endif %}
	<h1>I am {{ request.session.userId }}</h1>
	<form action="{% url 'logoutC' %}" method="POST">
	 {% csrf_token %}
		<div>
			<button  type="submit" class="btn btn-primary">log out</button>
		</div>
	</form> -->

{% endblock %}