{% extends 'baseC.html' %}

{% block title %}MedBot | Order{% endblock %}



{% block content %}
	{% if all %}
	
	<div class="table-responsive">
		<table class="table table-striped table-dark">
			{% for things in all %}
				<tr>
					<td>Name: {{ things.med_id }}</td>
					<td><center>Shop: {{ things.pharmacy_id }}</center></td>
					<td><center>Price: {{ things.med_id.med_price }}</td>
					<td><center>Quantity: {{ things.adding_quantity }}</td>
				
			{% endfor %}
				</tr>
				<tr>
					<td>Delivery cost: 10</td>
					<td><center>Total cost: {{ price_of }}</td>	
		</table>
	</div>
	<hr class="my-4">
	<form action="{% url 'orderC' %}" method="POST">
	  {% csrf_token %}
<!-- 
	showing delivery schedule
	 -->
	<div class="dropdown">
		<select class="btn btn-warning btn-sm" id="inlineFormCustomSelect" name="deliveryTime">
			<option value = "{{deliveryTime.0.DS_id}}" selected>{{ deliveryTime.0.DS_start_time }} - {{ deliveryTime.0.DS_stop_time }}</option>
			{% for times in deliveryTime %}
				<option value = "{{times.DS_id}}">{{times.DS_start_time}} - {{times.DS_stop_time}}</option>
			{% endfor %}
		</select>
	</div>
<!-- 
	showing delivery notes
 -->
 	<hr class="my-4">
 	<div class="input-group flex-nowrap">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="addon-wrapping">Delivery Note</span>
	  </div>
	  <input type="text" class="form-control" value="Call Me When You arrive" aria-label="delivery note" aria-describedby="addon-wrapping" name="deliveryNote">
	</div>
	<hr class="my-4">
<!-- 
	showing promo code
 -->
	  <div class="form-group mb-2">
	    <label for="staticEmail2" class="sr-only">Promo Code</label>
	    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Add a valid promo code">
	  </div>
	  <div class="form-group mx-sm-3 mb-2">
	    <label for="inputPassword2" class="sr-only">Promo Code</label>
	    <input type="text" class="form-control" id="inputPassword2" placeholder="valid promo code" readonly>
	  </div>
	  <!-- <button type="submit" class="btn btn-primary mb-2">Confirm promo code</button> -->
<!-- 
	 showing Payment Options
 -->
	<hr class="my-4">
	<label>Payment Options</label>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
	  <label class="form-check-label" for="exampleRadios1">
	    Cash on Delivery
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" disabled>
	  <label class="form-check-label" for="exampleRadios2">
	    Bkash
	  </label>
	</div>
	<small id="passwordHelpInline" class="text-muted">
      Not availabe now
    </small>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
	  <label class="form-check-label" for="exampleRadios3">
	    Rocket
	  </label>
	</div>
	<small id="passwordHelpInline" class="text-muted">
      Not availabe now
    </small>
	  <div class="container">
	  	<h5>Place the marker on your delivery point</h5>
	  	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
		<link
		rel="stylesheet"
		href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
		type="text/css"
		/>
		<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
	    <div id='map' style='width: 500px; height: 300px;'></div>
		<pre id="coordinates" class="coordinates"></pre>
			<script>
				mapboxgl.accessToken = 'pk.eyJ1IjoibWRuaWF6bW9yc2hlZCIsImEiOiJja2NjMWg4amwwMGF3MnJyMHhhdXM5b2trIn0.h5Dbq_k3fdlRuZlaXuaHMw';
				var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v11',
				center: [90.43, 23.82],
				zoom: 13
				});

				map.addControl(
				new MapboxGeocoder({
				accessToken: mapboxgl.accessToken,
				mapboxgl: mapboxgl
				})
				);
				// Add geolocate control to the map.
				
				var geolocate = new mapboxgl.GeolocateControl({
				positionOptions: {
				enableHighAccuracy: true
				},
				trackUserLocation: true
				});
				map.addControl(geolocate);
				map.addControl(new mapboxgl.NavigationControl());
				map.on('load', function() {
					geolocate.trigger();
				});
				var cords = JSON.stringify(Geolocation.getCurrentPosition());
				console.alert(cords)
				var canvas = map.getCanvasContainer();
    
			    var geojson = {
			        'type': 'FeatureCollection',
			        'features': [
			            {
			                'type': 'Feature',
			                'geometry': {
			                    'type': 'Point',
			                    'coordinates': [90.43,23.82]
			                }
			            }
			        ]
			    };

			    function onMove(e) {
			        var coords = e.lngLat;

			        // Set a UI indicator for dragging.
			        canvas.style.cursor = 'grabbing';

			        // Update the Point feature in `geojson` coordinates
			        // and call setData to the source layer `point` on it.
			        geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
			        map.getSource('point').setData(geojson);
			    }

			    function onUp(e) {
			        var coords = e.lngLat;

			        // Print the coordinates of where the point had
			        // finished being dragged to on the map.
			        coordinates.style.display = 'block';
			        coordinates.innerHTML =
			            'Longitude: ' + coords.lng + '<br />Latitude: ' + coords.lat;
			        canvas.style.cursor = '';

			        // Unbind mouse/touch events
			        map.off('mousemove', onMove);
			        map.off('touchmove', onMove);
			    }

			    map.on('load', function() {
			        // Add a single point to the map
			        map.addSource('point', {
			            'type': 'geojson',
			            'data': geojson
			        });

			        map.addLayer({
			            'id': 'point',
			            'type': 'circle',
			            'source': 'point',
			            'paint': {
			                'circle-radius': 10,
			                'circle-color': '#00897B'
			            }
			        });

			        // When the cursor enters a feature in the point layer, prepare for dragging.
			        map.on('mouseenter', 'point', function() {
			            map.setPaintProperty('point', 'circle-color', '#3bb2d0');
			            canvas.style.cursor = 'move';
			        });

			        map.on('mouseleave', 'point', function() {
			            map.setPaintProperty('point', 'circle-color', '#00897B');
			            canvas.style.cursor = '';
			        });

			        map.on('mousedown', 'point', function(e) {
			            // Prevent the default map drag behavior.
			            e.preventDefault();

			            canvas.style.cursor = 'grab';

			            map.on('mousemove', onMove);
			            map.once('mouseup', onUp);
			        });

			        map.on('touchstart', 'point', function(e) {
			            if (e.points.length !== 1) return;

			            // Prevent the default map drag behavior.
			            e.preventDefault();

			            map.on('touchmove', onMove);
			            map.once('touchend', onUp);
			        });
			    });

				

			</script>
	  </div>

	{% endif %}
		<div>
			<button  type="submit" class="btn btn-success my-4">Confirm Order</button>
		</div>
	</form>

{% endblock %}